@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
  --Softred: hsl(14, 88%, 65%);
  --Softviolet: hsl(273, 75%, 66%);
  --Softblue: hsl(240, 73%, 65%);
  --Verydarkgrayishblue: hsl(237, 12%, 33%);
  --Darkgrayishblue: hsl(240, 6%, 50%);
  --Lightgrayishblue: hsl(240, 5%, 91%);
}

.Center {
  background: linear-gradient(var(--Softviolet), var(--Softblue));
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 2rem;
    width: 60rem;
    height: 30rem;
    object-fit: contain;

    .box {
      position: absolute;
      z-index: 100;
      left: -8rem;
      top: 12rem;
    }
    .left {
      width: 50%;
      height: 100%;
      overflow: hidden;
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      width: 50%;
      height: 100%;
    }
  }
  @media only screen and (max-width: 800px) {
    .container {
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      width: 22rem;
      height: 90vh;
      flex-wrap: wrap;
      transform: scale(0.9);
      .box {
        display: none;
      }
      .left {
        position: absolute;
        width: 100%;
        height: 10%;
        overflow: visible;
      }
      .right {
        width: 100%;
        height: 100%;
      }
    }
  }
}
